body {
	background-color: #cfedff;
}

.character {
	display: inline-block;
	padding: 15px;
	background-color: white;
}

.enemy {
	display: inline-block;
	padding: 15px;
	background-color: red;
}

.hero {
	display: inline-block;
	padding: 15px;
	background-color: green;
}

.defender {
	display: inline-block;
	padding: 15px;
	background-color: crimson;
}
