body {
	background-color: #cfedff;
}

.characterChoice > div {
	display: inline-block;
	padding: 15px;
	background-color: white;
}

.EnemiesToAttack > div {
	display: inline-block;
	padding: 15px;
	background-color: red;
}

.YourChar > div {
	display: inline-block;
	padding: 15px;
	background-color: green;
}

.Defender > div {
	display: inline-block;
	padding: 15px;
	background-color: black;
}

.attack, .counter, .attackButton {
	display: none;
}

.name {
	text-align: center;
}

