body {
	background-image: url("../images/back.jpg");
}

@font-face {
	font-family: starJedi;
	src: url("../fonts/STARWARS.woff");
}

h1, h3, h4, p {
	color: white;
	font-family: starJedi;
}

h1 {
	font-size: 50px;
}

p, h4 {
	font-size: 18px;
}

.characterChoice > div {
	display: inline-block;
	padding: 10px;
}

.characterChoice > div > p {
	color: white;
	text-align: center;
}

.EnemiesToAttack > div {
	display: inline-block;
	padding: 15px;
}

.EnemiesToAttack > div > p{
	color: red;
	text-align: center;
}

.YourChar > div {
	display: inline-block;
	padding: 15px;
}

.YourChar > div > p {
	color: #14c614;;
	text-align: center;
}

.Defender > div {
	display: inline-block;
	padding: 15px;

}

.Defender > div > p {
	color: orange;
	text-align: center;
}

.center {
	text-align: center;
}

.attack, .counter, .attackButton, .restartButton, .enemyH3 {
	display: none;
}

.name {
	text-align: center;
}

.flipped {
	display: inline-block;
	transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	-moz-transform: scale(-1,1);
	-o-transform: scale(-1,1);
}


.characterPool, .arena, .textArea {
	margin: auto;
	background: rgba(0, 0, 0, 0.44);
	border: 1px solid black;
	width: 850px;
}

.characterPool {
	padding: 28px;
	margin-bottom: 25px;
}

.arena {
	padding: 20px;
	height: 400px;
	margin-bottom: 20px;
	position: relative;

}

.textArea {
	display: none;
	background: rgba(0, 0, 0, 0.44);
	border: 1px solid black;
	margin-top: 50px;
	text-align: center;
	padding: 10px;
}

.character {
	width: 150px;
}

.heroSpace, .defenderSpace, .buttons {
	z-index: 1;
}

.heroSpace {
	float: left;
	margin-left: 25%;
}

.defenderSpace {
	float: right;
	margin-right: 25%;
}

button {
	font-family: starJedi;
}

.buttons {
	clear: both;
}

.back {
	position: absolute;
	left: 45px;
	bottom: -5px;
	z-index: -1;
}
